* {
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
width: auto;
margin:  0px;
height: auto;

}
.header {
width:100%;
line-height: 100px;
background: #6f885e;
color: white;
box-shadow: 5px 5px 15 -10px rgb(114, 105, 105);
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.note{
    margin-top: auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 30px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

textarea{
width: 100%;
line-height: 30px;
background:transparent;
border:none;
overflow: hidden;

}
input{
    width: 100%;
    line-height: 30px;
    background:transparent;
    border:none;
    overflow: hidden;

}
.btn{
    position: relative;
    float: right;
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgb(243, 241, 242);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    align-content: center;
}
.btn .add:hover {
    background-color: cadetblue;
    border-radius: 50%;
}
.add{
    position: relative;
    border: none;
    width: 10px;
    height: 10px;
    background: cadetblue;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    color: black;


}
.noteopen{
    
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px ;
    width:250px;
    margin-left: 10px;
    height: auto;
    margin: 10px;
    margin-block-start:320px;
    display:block;
    float: left;
    align-content:start;
    
}

.btn1
{
    position: relative;
    float: right;
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgb(243, 241, 242);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    align-content: center;
  
}
.btn1 .delete:hover{
 background-color: blueviolet;
 border-radius: 50%;
}
.delete {
    position: relative;
    border: none;
    width: 10px;
    height: 10px;
    background: rgb(243, 241, 242);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    color: rgb(240, 145, 21);
   
}

.end{
    box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  background-color:  white;
  text-align: center;
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 20px;
  color:black;
  font-size: small;
}