*{
padding: 0px;
margin: 0;
background-color:white;


}
.wrap{
    background-color: rgb(189, 248, 183);
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}


.main{
    background-color:white;
    width:25%;
    height: 80vh;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0, 0.5);
    border-radius: 15px;
  }

h1 {
    color: rgba(3, 63, 11, 0.5);
    padding: 6px 0px 2px 0px;
    margin-bottom: 10px;
    box-shadow: 2px 5px 2px 0px rgba(0,0,0, 0.5);
    background-color: rosybrown;
  }
input{
  text-align: center;
  height: 40px;
  top: 10px;
  border: none;
  background: white;
  font-weight: 40px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid;
  outline: none;

}
button{
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    outline: none;
    background-color: rgb(118, 146, 206);
    font-size: 30px;
    border: none;
    margin-left: 10px;
}
button:hover{
 background-color: green;
}

ol{
    margin-top: 30px;
}
ol li{
text-align: left;
font-size: 15px;
font-weight: 500;
min-height: 30px;
display: flex;
align-items: center;
color: indigo;
text-transform: capitalize;

}
.listorder{

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
}
.listorder .order {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 50%;
    margin: 0px 5px 15px -15px black ;
    color: aliceblue;
    
}
.listorder .order:hover {
    background-color: red;
}
@media (max-width: 768px) {
    .main{
        width: 55%;

    }
    .listorder .order {
     margin: 0px 15px 0px 15px;
     display: flex;
     justify-content: center;
     align-items: center;

    }
    .button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color:#fff;
    font-size: 30px;

    }
}
.delete:hover{
background-color: rgb(235, 25, 25);
border-radius: 50%;


}
